[submodule "data-collector"]
	path = data-collector
	url = git@gitlab.com:smartcities-labxp-2017/data-collector.git
[submodule "resource-cataloguer"]
	path = resource-cataloguer
	url = git@gitlab.com:smartcities-labxp-2017/resource-cataloguer.git
[submodule "resource-adaptor"]
	path = resource-adaptor
	url = git@gitlab.com:smartcities-labxp-2017/resource-adaptor.git
[submodule "resource-viewer"]
	path = resource-viewer
	url = git@gitlab.com:smartcities-labxp-2017/resource-viewer.git
[submodule "external-resources"]
	path = external-resources
	url = git@gitlab.com:smartcities-labxp-2017/external-resources.git
[submodule "resource-discoverer"]
	path = resource-discoverer
	url = git@gitlab.com:smartcities-labxp-2017/resource-discoverer.git
